[Unit]
Description=SFTP Toggle Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sftp-toggle %i
RemainAfterExit=yes
StandardOutput=syslog
StandardError=syslog
User=root

[Install]
WantedBy=multi-user.target
